<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Memeoid home page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
    <body>
        <div class="container">
            <h1 class="title">Generate your meme!</h1>
            <div class="content">
                <figure>
                    <img src="/gifs/{{ . }}" />
                </figure>
                <p>Add top or bottom text to this gif!</p>
                <form method="GET" action="/w/api.php">
                    <input type="hidden" name="from" value="{{ . }}">
                    <div class="field">
                        <label class="label">Top</label>
                        <input class="input" type="text" name="top" id="top" placeholder="Top text">
                    </div>
                    <div class="field">
                        <label class="label">Bottom</label>
                        <input class="input" type="text" name="bottom" id="bottom" placeholder="Bottom text">
                    </div>
                    <div class="control">
                                <button class="button is-primary">Submit</button>
                    </div>    
                </form>
            </div>
        </div>
    </body>
</html>